// Colour Variables
$primary_color: rgb(112, 112, 176);
$primary_hover-color: rgb(81, 73, 118);
$success-color: rgb(128, 168, 128);
$success-hover-color: rgb(119, 132, 120);
$title-color: #333;
$bg_color: rgb(153, 153, 205);

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: $bg_color;
}

.content{
    max-width:800px;
    margin: 50px auto;
    padding:20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.435);
    text-align: center;

    h1{
        color: $bg_color;
    }

    h4{
        color: #666
    }

    table{
        width:100%;
        margin-top: 20px;
        border-collapse: collapse;


        th,td {
            padding: 10px;
            border: 1px solid #ccc;

            th{
                background-color:aquamarine;
                color: red
            }
        }
    }

    a {
        display: inline-block;
        padding: 8px 16px;
        margin: 5px;
        border-radius: 20px;
        background-color: $primary_color;
        color: whitesmoke;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover{
            background-color: $primary_hover-color;
        }
    }

    input {
        padding: 10px;
        margin: 5px;
        border: solid 1px;
        border-radius: 5px;
    }

    #btn_add {
        background-color: $success-color;
        color: #fff;
        cursor: pointer;
        &:hover {
            background-color: $success-hover-color;
        }
    }
}